
.profile{
  margin-left:40%;
 }
.avtar{
  margin-top: 50px;
  width:150px;
  height:150px;
  border-radius:8px;
}
.name{
  color:#6d6ddd;
}
.content{
  margin:30px 0;
}
.label{
  color:gray;
}
.data{

 font-family:'Arial Bold', sans-serif;
}